* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {font-family:"arial";
    font-size: 26px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    user-select: none;
}
.calculator {position: relative;
    border-radius: 20px;
    background: #7D7D7D;
    width: 286px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #535353;
        box-shadow: 0 0 50px #535353;

}
.memory{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100px;
    color: white;
    font-size: 20px;
}
body.purple-theme .calculator{
    background: #325180;
    box-shadow: 0 0 50px  #325180;
}
body.color-theme .calculator{
    background: #7EC3B0;
    box-shadow: 0 0 50px   #41B3A3;
}
.button { display: inline-block;
    line-height: 57px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #535353;
    width: 71px;

}

.button:active, body.purple-theme .top-button:active, body.color-theme .top-button:active,
body.purple-theme .right-button:active, body.color-theme .right-button:active {
    background: green;
    transform: translateY(2px);
    border: none;
}

.keyboard{flex-wrap: wrap;
    height: 300px;
    display: flex;
}

.display { border: none;
    color:white;
    font-size: 50px;
    text-align: right;
    line-height: 19;
    padding: 30px 15px  0  15px;
    vertical-align: bottom;
background: #535353;

    height: 100px;
    width: 100%;
}
body.purple-theme .display{
    background: #161C2D;
}
body.color-theme .display{
    background: #85CCC9;
}
.top-button{
    background: #646464;
}

body.purple-theme .top-button{
    background: #202940;
}
body.color-theme .top-button{
    background: #41B3A3;
}
.right-button{
    background: #FF9F0A;
}

body.purple-theme .right-button{
     background: #CE93D8;
 }

body.color-theme .right-button{
    background: #E27C5F;
}

.zero{
    width: 142px;
}
.styles{
    left :20px;
    top: 10px;
    position: absolute;
    width: 100px;
    height: 15px;
    display: flex;
    gap: 10px;
}
.orange-style{width: 15px;
    border-radius: 50px;
    height: 15px;
    background: darkorange;
}
.purple-style{
    width: 15px;
    height: 15px;
    background: #C48D9D;
    border-radius: 50px;

}
.color-style{
    border-radius: 50px;
    width: 15px;
    height: 15px;
    background:#E8A97C;
}